/* Aqui tem o card */
.login-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 2px #9a76d4 solid;
}

@media (min-width: 600px) {
    .login-container {
        width: 500px;
    }
}

/* Aqui nós vamos implementar o que tem dentro do card */

h2 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.inputBox{
    position: relative;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;    
}

.label_input {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .label_input,
.inputUser:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}