.login-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 2px #9a76d4 solid;
}

@media (min-width: 600px) {
    .login-container {
        width: 500px;
    }
}