h2 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputBox{
    position: relative;
    color: #fff;
    margin-left: 10%;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 80%;
    letter-spacing: 2px;    
}

.label_input {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .label_input,
.inputUser:valid ~ .label_input{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}