/* * {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
    color: #fff;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.evento {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.evento::before,
.evento::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .evento {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
     }

    


    /* Estilo ativos */
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

} */

