.container{
    width: 100vw;
}

.logo {
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

h1 {
    padding-top: 3px;
    color: #fff;
    padding-left: 3vh;
    font-size: 40px;
}

img {
    padding-top: 3px;
    height: 80%;
}

.centro{
    margin-bottom: 20vw;
    width: 100vw;
    text-align: center;
    justify-content: center;
    margin-top: 4vh;
}

p {
    color: #fff;
    font-size: 25px;
    padding: 2vh;
}

/* Aqui vem a configuração do link  */
.links {
    width: 100%;
    text-align: center;
}

.button {
    background-color: #6620d6;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25% 10px 25%;
    border: #fff 1px solid;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}