* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    width: 80vw;
    height: 80vh;
    margin-top: 5vh;
    overflow: visible;

    justify-content: start;
    align-items: center;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.expansive{
    display: flex;
    width: 49%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 240px;
    height: 45%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6620d6;
    border-radius: 10px;
}

.card img {
    width: 50%;
    margin-top: 15%;
}

.card h4{
    text-align: left;
}

.card button{
    background-color: #6620d6;
    color: #fff;
    margin-bottom: 15%;
    padding: 5px;
}

.cardExpansive {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80%;
    height: 95%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6620d6;
    border-radius: 10px;
}

.cardExpansive img{
    margin-top: 10%;
    border-radius: 100px;
}
